@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blanco: hsl(0, 0%, 100%);
    --negro: hsl(0, 0%, 0%);
    --gris: hsl(0, 0%, 85%);
}

body {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
}

.encabezado {
    background-image: url('./images/desktop/image-hero.jpg');
    background-size: cover;
    min-height: 650px;
    padding: 60px 165px 60px 165px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.logo {
    width: 190px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 15px;
    position: relative;
}

.menu a:hover {
    border-bottom: 2px solid var(--blanco);
    padding-bottom: 6px;
}

.titulo-hero {
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid var(--blanco);
    color: var(--blanco);
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 40px;
    max-width: 650px;
    line-height: 1;
}

.boton-menu {
    display: none;
}

.seccion-interactiva {
    padding: 120px 165px 120px 165px;
}

.contenedor-interactivo {
    position: relative;
    max-width: 1110px;
}

.contenido-interactivo {
    background-color: var(--blanco);
    position: absolute;
    width: 540px;
}

.contenido-interactivo h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 25px;
}

.contenido-interactivo p {
    color: var(--gris);
}







